# ray core deps
ray[default]==RAY_VERSION
cython
flatbuffers
dataclasses; python_version < '3.7'

# below sync with ray-ml-ubi deps
pandas==1.1.4
dask[array,dataframe]==2021.7.0
# modin[ray]

s3fs==2021.7.0

raydp-nightly==2021.7.1.dev0